<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Shopping lists</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<div class="container-sm text-center">
    <h1>Shopping lists <i class="bi bi-card-checklist"></i></h1>

<ul class="list-inline">
    <li th:each="list : ${lists}">
        <p>
            <a th:href="@{/list/{id}/(id=${list.id})}" th:text="${list.name}"  class="btn btn-primary btn-lg fw-bolder"/>
            <a th:href="@{/list/edit/{id}(id=${list.id})}" class="btn btn-outline-warning btn-sm" ><i class="bi bi-pencil-fill"></i>Edit list</a>
            <a th:href="@{/list/delete/{id}(id=${list.id})}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i>Remove list</a>
        </p>
    </li>
</ul>

<a th:href="@{/list/add}" class="btn btn-outline-success" ><i class="bi bi-file-earmark-plus-fill"></i>Add new shopinglist</a>
</div>
</body>
</html>