<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Shopping lists</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body class="shoping_front">
<div class="container-sm text-center">
    <h1>Shopping lists <i class="bi bi-card-checklist"></i></h1>

<ul class="list-inline">
    <li th:each="list : ${lists}">
        <p>
            <a th:href="@{/list/{id}/(id=${list.id})}" th:text="${list.name}"  class="btn btn-primary btn-lg fw-bolder"/>
            <a th:href="@{/list/__${list.id}__/edit}" class="btn btn-outline-warning btn-sm" ><i class="bi bi-pencil-fill"></i>Edit list</a>
            <a th:href="@{/list/__${list.id}__/delete}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i>Remove list</a>
        </p>
    </li>
</ul>

<a th:href="@{/list/add}" class="btn btn-outline-success" ><i class="bi bi-file-earmark-plus-fill"></i>Add new shopinglist</a>
</div>
<footer class="py-5 ">
    <div class="container"><p class="m-0 text-center text-black">Copyright &copy; ShopingList 2022</p></div>
</footer>
</body>
</html>