<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${productList.name}"/>
</head>
<body>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Bought?</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productList.productList}">
    <td th:text="${product.productName}"/>
    <td th:text="${product.quantity}"/>
    <td th:text="${product.unit}"/>
    <td th:text="${product.isBought} ? 'YES' : 'NO'"/>

    <td><a th:href="@{/list/__${productList.id}__/product/incart/__${product.id}__}">Change status</a></td>
    <td><a th:href="@{/list/__${productList.id}__/product/edit/__${product.id}__}">Edit product</a></td>
    <td><a th:href="@{/list/__${productList.id}__/product/delete/__${product.id}__}">Remove product</a></td>
    </div>
  </tr>
  </tbody>
</table>

<a th:href="@{/list/{id}/product(id=${productList.id})}">Add new product</a>
<a th:href="@{/list/all}">Return to lists</a>

</body>
</html>