<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${productList.name}"/>
</head>
<body>

<table>
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Jednostka</th>
    <th>Ilość</th>
    <th>Kupione?</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productList.productList}">
    <td th:text="${product.productName}"/>
    <td th:text="${product.unit}"/>
    <td th:text="${product.quantity}"/>
    <td th:text="${product.isBought} ? 'tak' : 'nie'"/>
    </div>
  </tr>
  </tbody>
</table>


</body>
</html>