<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>

<h1>Products List</h1>

<table class="table">

    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>

    </tr>
    </thead>

    <tbody>

    <tr th:each="product : ${products}">

        <td th:text="${product.id}"/>
        <td th:text="${product.name}"/>
        <td th:text="${product.quantity}"/>
        <td th:text="${product.description}"/>

        <td>  <a th:href="@{/products/list/{id}/(id=${product.id})}"> Details product</a> </td>
        <td>  <a th:href="@{/products/edit/{id}/(id=${product.id})}"> Edit product</a> </td>
        <td>  <a th:href="@{/products/delete/{id}/(id=${product.id})}">Delete product</a> </td>
    </tr>

    </tbody>
</table>
<a th:href="@{/products/create}">Add new product</a>

</body>
</html>