<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>


<form method="post" th:action="@{/list/product/save}" th:object="${emptyProduct}">


    <label>
        Product name:
        <input type="text" th:field="*{name}"/>
        Quantity
        <input type="text" th:field="*{quantity}"/>
        Unit
        <input type="text" th:field="*{unit}"/>
        <input type="hidden" th:field="*{listId}">
    </label>

    <button type="submit">Add product</button>

</form>

<a th:href="@{/list/{id}(id=${emptyProduct.listId})}">Return to list</a>

</body>
</html>