<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"/>
</head>
<body>


<table class="table">
    <thead>
    <tr>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit</th>
        <th scope="col">Description</th>
        <th scope="col">Is Bought</th>
    </tr>
    </thead>
    <tbody>

    <td th:text="${product.id}"/>
    <td th:text="${product.name}"/>
    <td th:text="${product.quantity}"/>
    <td th:text="${product.unit}"/>
    <td th:text="${product.description}"/>
    <td th:text="${product.isBought}"/>

    </tbody>
</table>

<a th:href="@{/products/list}">Return to product lists</a>

</body>
</html>