<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>


<form method="post" th:action="@{/products/save}" th:object="${emptyProduct}">


    <label>
        Nazwa produktu:
        <input type="text" th:field="*{name}"/>
    </label>

    <label>
        ILość/jednostka:
        <input type="text" th:field="*{quantity}"/>
    </label>

    <label>
        Opis/uwagi:
        <input type="text" th:field="*{description}"/>
    </label>




    <button type="submit">Dodaj produkt</button>


</form>

</body>
</html>