<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoping list</title>
</head>
<body>

<h1>All Shoping List</h1>

<table class="table">

    <thead>
    <tr>

        <th scope="col">Id</th>
        <th scope="col">Shopinglist name</th>

    </tr>
    </thead>

    <tbody>

    <tr th:each="shopingList : ${slist}">

        <td th:text="${shopingList.id}"/>
        <td th:text="${shopingList.nameList}"/>

        <td>  <a th:href="@{/shopinglists/list/{id}/(id=${shopingList.id})}"> Details shopinglist</a> </td>
        <td>  <a th:href="@{/shopinglists/edit/{id}/(id=${shopingList.id})}"> Edit shopinglist</a> </td>
        <td>  <a th:href="@{/shopinglists/delete/{id}/(id=${shopingList.id})}">Delete shopinglist</a> </td>
    </tr>

    </tbody>

</table>
<a th:href="@{/shopinglists/create}">Add new shopinglist</a>

</body>
</html>