<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${shopinglist.nameList}"/>
</head>
<body>


<table>
    <thead>
    <tr>
    <tr>
        <th>Name product</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Description</th>
        <th>Bought?</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="product : ${shopinglist.products}">
        <td th:text="${product.name}"/>
        <td th:text="${product.quantity}"/>
        <td th:text="${product.unit}"/>
        <td th:text="${product.description}"/>
        <td th:text="${product.isBought} ? 'YES' : 'NO'"/>



        <td>  <a th:href="@{/products/edit/{id}/(id=${product.id})}"> Edit product</a> </td>
        <td>  <a th:href="@{/products/delete/{id}/(id=${product.id})}">Delete product</a> </td>
    </tr>


    </tbody>
</table>

<a th:href="@{/products/create/listid={id}(id=${shopinglist.id})}">Add new product to shopinglist</a>
<a th:href="@{/shopinglists/list}">Return to shoping lists</a>


</body>
</html>