<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit shopinglist</title>
</head>
<body>

<form method="post" th:action="@{/shopinglists/postedit}" th:object="${editList}">


    <input type="hidden" th:field="*{id}">


    <label>
        Nazwa listy zakupów:
        <input type="text" th:field="*{nameList}"/>
    </label>


    <button type="submit">Edytuj listę zakupów</button>


</form>

<a th:href="@{/shopinglists/list}">Return to shoping lists</a>

</body>
</html>